<h2>Employee List</h2>
<br>
<div class="row">
  <div class="col-sm-12">
        <select class="form-control" [(ngModel)]="selectedWeek" (ngModelChange)="weekChange($event)" style="width:200px">
          <option *ngFor="let c of weekList" [ngValue]="c.Id">{{c.WeekName}}</option>
        </select>
      
  </div>
  <div class="col-md-12" style="padding-top: 10px">
    <table class="table table-hover table-striped">
      <thead class="thead-ligh">
        <tr>
          <th>Id</th>
          <th>Code</th>
          <th>Name</th>
          <th class="text-center">Weekly Effort (Total)</th>
          <th class="text-center">Weekly Effort (Average)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeList" (click)="view(item)" style="cursor: pointer;">
          <td>{{item.id}}</td>
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td class="text-center">{{item.totalHours}}</td>
          <td class="text-center">{{item.average}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>