<div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="text" id="inputEmail" class="form-control" placeholder="User id" value="prosenjit" required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" value="test123" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <input type="button" class="btn btn-lg btn-primary btn-block btn-signin" value="Sign In" (click)="Login()">
      </form><!-- /form -->
      <!-- <a class="forgot-password" style="cursor: pointer; color:cornflowerblue">
          Forgot the password?
      </a> -->
  </div><!-- /card-container -->
</div><!-- /container -->