<div class="row">
  <div class="col-sm-12">

    <div class="form-group row">
      <label class="control-label col-sm-2" for="employee">Select Employee:</label>
      <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="selectedValue" (ngModelChange)="selectChange($event)">
          <option *ngFor="let c of employeeList" [ngValue]="c.id">{{c.name}}</option>
        </select>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-2" for="employee">Week:</label>
      <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="selectedWeek" (ngModelChange)="weekChange($event)">
          <option *ngFor="let c of weekList" [ngValue]="c.Id">{{c.WeekName}}</option>
        </select>
      </div>
      <div class="col-sm-2">
        <input type="button" class="btn btn-primary btn-md center-block" value="Add New Task"
          (click)="OpenTaskPopup(content)">
      </div>
    </div>

  </div>

  <div class="col-md-12" style="padding-top: 10px">
    <table class="table table-hover">
      <thead class="thead-ligh">
        <tr>
          <th style="width:380px">Task Name</th>
          <th class="text-center">Sunday</th>
          <th class="text-center">Monday</th>
          <th class="text-center">Tuesday</th>
          <th class="text-center">Wednesday</th>
          <th class="text-center">Thursday</th>
          <th class="text-center">Friday</th>
          <th class="text-center">Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of timesheetDetails">
          <td>
            <select class="form-control" [(ngModel)]="item.taskId">
              <option *ngFor="let c of taskList" [ngValue]="c.id">{{c.name}}</option>
            </select>
          </td>
          <td class="text-center">
            <input type="number" maxlength="2" class="form-control txtValue" [(ngModel)]="item.sunday">
          </td>
          <td class="text-center">
            <input type="number" maxlength="2" class="form-control txtValue" [(ngModel)]="item.monday">
          </td>
          <td class="text-center">
            <input type="number" maxlength="2" class="form-control txtValue" [(ngModel)]="item.tuesday">
          </td>
          <td class="text-center">
            <input type="number" maxlength="2" class="form-control txtValue" [(ngModel)]="item.wednesday">
          </td>
          <td class="text-center">
            <input type="number" maxlength="2" class="form-control txtValue" [(ngModel)]="item.thursday">
          </td>
          <td class="text-center">
            <input type="number" maxlength="2" class="form-control txtValue" [(ngModel)]="item.friday">
          </td>
          <td class="text-center">
            <input type="number" maxlength="2" class="form-control txtValue" [(ngModel)]="item.saturday">
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr style="color:red">
          <td>Total</td>
          <td class="text-center">{{sundayTotal}}</td>
          <td class="text-center">{{mondayTotal}}</td>
          <td class="text-center">{{tuesdayTotal}}</td>
          <td class="text-center">{{wednesdayTotal}}</td>
          <td class="text-center">{{thursdayTotal}}</td>
          <td class="text-center">{{fridayTotal}}</td>
          <td class="text-center">{{saturdayTotal}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="col-md-12 text-right">
    <input (click)="save()" type="button" class="btn btn-success btn-md center-block" style="display: inline-block"
      value="Save Task">&nbsp;
    <input (click)="back()" type="button" class="btn btn-danger btn-md center-block" value="Back To List">
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Task Master</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <input type="text" [(ngModel)]="mod.Name" class="form-control" placeholder="Task Name" maxlength="250" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-12" style="padding-top: 10px">
            <textarea [(ngModel)]="mod.Description" class="form-control" placeholder="Description" maxlength="500" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveTask()">Save</button>
  </div>
</ng-template>