<app-header></app-header>
<div class="container-fluid" style="padding-top: 15px">
  <div class="row">
    <div class="col-md-2">
      <app-left-panel></app-left-panel>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>