/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative');
body {
    font-family: 'Raleway', sans-serif!important;;
    // font-family: 'Patua One', cursive;
    // font-family: 'Permanent Marker', cursive!important;
    // font-family: 'Concert One', cursive!important;
    font-family: 'Signika Negative', sans-serif!important;
    font-size: 16px!important;
}